.two-column-page {
  display: flex; 
  min-height: calc(100vh - 50px);
  width: 100%;
}

.left-column {
  background-color: #252525;
  color: aliceblue;
  flex: 15%; 
  font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
  font-size: 1.15em;
  min-height: 100%;
  padding: 30px 20px 20px 20px;
  text-align: center;
}

.hline {
  max-width: 100%;
}

.right-column {
  background-color: #151515;
  flex: 85%; 
  min-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.inner-container-right {
  background-color: red;
  background-image: url('../img/notebook.jpg');
  flex: 90%;
  min-height: 100%;
  position: relative;
  width: 100%;
}

  